<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.userside">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launch"
        android:label="Client app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver
            android:name=".Backend.reciever"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.project.CHECK_DATABASE"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".Model.secondAppActivity"

            android:label="@string/title_activity_second_app"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>